body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#2e7d32;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
background:#dcedc8;
}

.hero button{
padding:10px 20px;
font-size:16px;
background:green;
color:white;
border:none;
cursor:pointer;
}

.features{
display:flex;
justify-content:center;
flex-wrap:wrap;
padding:30px;
}

.card{
background:white;
padding:20px;
margin:15px;
width:250px;
box-shadow:0 0 10px gray;
border-radius:10px;
}

.dashboard{
display:flex;
flex-wrap:wrap;
justify-content:center;
padding:30px;
}

table{
width:100%;
border-collapse:collapse;
}

table,th,td{
border:1px solid gray;
padding:8px;
text-align:center;
}

.form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
}

.form input{
margin:10px;
padding:10px;
}

.form button{
padding:10px;
background:green;
color:white;
border:none;
}

.form-title{
text-align:center;
margin-top:40px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
margin-top:40px;
}