body{
font-family: Arial;
background:#f4f6f5;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.weather-container{

background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;
width:300px;

}

h2{
color:#2e7d32;
}

input{

padding:10px;
width:80%;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;

}

button{

padding:10px 15px;
background:#2e7d32;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#1b5e20;

}

.weather-result{

margin-top:20px;
font-size:18px;

}